<<<<<<< HEAD
<h1>Eat-Da-Burger!</h1>

<div id="container">
	<p><a href="https://github.com/rampagesang/Burger_Logger" target="_blank">-- Click here to visit GitHub repository --</a></p>

	<div id="addburger">
		<div id="burger">
			<img src="/assets/images/cropped-burger.png" align="middle">
		</div>

		<form class="addburger" method="POST">
			<label for="newburger">Add a new burger you want to eat:</label><br>
			<input type="text" id="newburger" name="name">
			<button type="submit">Submit</button>
		</form>
	</div>

	<div id="burgerholder">
	<h3>Your Burgers</h3>
		{{#each burgers}}
			{{#unless devoured}}
			<ul>
				<li>
					{{this.burger_name}}
					<form action="/{{this.id}}?_method=PUT" method="POST">
					<input type="hidden" name="boolean" value="true">
					<br><button type="button" class="predevour" id="devour{{this.id}}">Tell me who you are</button>
					<input type="text" name="customer" class="customer" id="customer{{this.id}}" placeholder="Customer name">
					</form>
				</li>
			</ul>
			{{/unless}}
		{{/each}}
	</div>

	<div id="burgergone">
	<h3>Devoured Burgers</h3>
		{{#each burgers}}
			{{#if this.devoured}}
			<ul>
				<li>
					{{this.burger_name}} (Devoured by {{this.customer.name}})
					<br><form action="/{{this.id}}?_method=PUT" method="POST">
					<input type="hidden" name="boolean" value="false">
					<button type="submit">Have it again</button>
					</form>
					<form action="/{{this.id}}?_method=DELETE" method="POST">
					<button type="submit">No, drop this burger</button>
					</form>
				</li>
			</ul>
			{{/if}}
		{{/each}}
	</div>
</div>

<footer>© Copyright 2018 Sang Lee</footer>
=======

    <img src="./assets/img/burger.png">

      <h1>Eat-Da-Burger!</h1>


<div class="container">
    <div class="notDevoured">
        <ul>
            {{#each burgers}} {{#unless devoured}}
            <li>
                {{burger_name}}
                <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
                    Devour It!
                </button>
            </li>
            {{/unless}} {{/each}}
        </ul>
        <h2>Devoured Burgers</h2>
    </div>

    <div class="devoured">
        <ol class="devouredlist">
            {{#each burgers}} {{#if devoured}}
            <li>
                {{burger_name}}
            </li>
            {{/if}} {{/each}}
        </ol>
    </div>
</div>

<form class="create-form">

    <div class="form-group">
              <h2>Add a Burger</h2>
        <input type="text" id="bur" name="burger_name">
    </div>
    <br>
    <button type="submit">Submit</button>
  <p>Enter a burger you want to eat. Click the "Submit" button.</p>
</form>
>>>>>>> de6ebb82cbe70ec5cef74df0849013e049af00e2
